.container {
    background-color: midnightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000px;
}

.profileDiv {
    width: 80%;
}

.profile {
    padding-top: 50px;
}